body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#project {
    background-color: #e2edff;
}

#abaut {
    padding-top: 5rem;
}

#project {
    padding-top: 5rem;
}

#contac {
    padding-top: 5rem;
}